@charset "UTF-8";

caption{
    position: absolute;
    top: -19%;
}

section#tabela > a{
    background-color: rgb(97, 160, 87);
}

tbody> tr:hover{
    background-color:rgb(235, 235, 235);
    transition: 0.4s;
}