@charset "UTF-8";

section#relatorios{
    display: block;
}

section#relatorios > table > tbody > tr > td{
    cursor: pointer;
}

section#tabela{
    display: none;
}

section#tabela > table > caption{
    position: absolute;
    top: -19%;
}

section#tabela > a{
    background-color: rgb(87, 99, 160);
}