@charset "UTF-8";

main > section#tabela{
    background-color: white;
    width: 99%;
    height: 100%;
}

section#tabela > a{
    color: white;
    font-weight:  600;
    font-size: 0.95em;
    text-decoration: none;
    text-align: center;

    box-sizing: border-box;
    width: 24%;
    height: 40px;
    margin: 10px;
    padding-top: 11px;
    border-radius: 5px;

    float: right;
}

table{
    width: 96%;
    margin: 15px;
    border-collapse: collapse;

    position: relative;
}

caption{
    color: rgb(127, 127, 127);
    font-size: 1.1em;
    font-weight: bolder;
    text-align: left;
}

th{
    color: rgb(127, 127, 127);
    font-size: 0.8em;
    font-weight: lighter;
    text-align: left;
    padding: 30px 0px 10px 0px;
}

tr{
    border-bottom: 1px solid rgb(217, 217, 217);
}

td{
    color: rgb(78, 78, 78);
    padding: 10px;
}

.nome{
    position: relative;
}

th.nome{
    left: 1%;
}

.mail{
    position: relative;
    left: 0%;
}

th.mail{
    left: 1%;
}

.stat{
    position: relative;
    left: 0%;
}

th.stat{
    left: 5.6%;
}

td.stat{
    text-align: center;
}